<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/liming.saputra/Documents/GitHub/RestAssuredPOC">
        <classes>
            <class name="testCases.googleMapsAppTest"/>
        </classes>
    </test>
</suite>
